.crossFndFioriInboxDescription {
	padding-left: 16px;
	padding-right: 16px;
}

.sapMTB-Transparent-CTX.sapMTB.crossFndFioriInboxInfoToolbarPadding {
	padding-left: 0px;
}

.crossFndFioriInboxDescription .sapUiLocalBusyIndicator{
	background-color: transparent;
}

.sizeIconSubstitution {
  font-size : 2rem !important;
  width: 2em !important; 
  height: 2em !important;
  line-height: 1em !important;
  text-align: center;
}

.crossFndFioriInboxObjectLink {
	padding-bottom : 0.5%;
	padding-top : 0.5%;
}


#label_confirmDialogTextarea {
	padding-top: 1rem;
}